.projects {
  background-color: var(--primary-color);
}

.title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--accent-color);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

@media (max-width: 768px) {
  .projects {
    padding: 60px 20px !important;
  }

  .title {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
